#### Question1

In [13]:
n= 5 
for i in range (n , 0 ,-1):
    for j in range(i , 0 ,-1):
        print(j , end= ' ')

    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#### Question2

In [16]:
n = 5

# Loop for the increasing part
for i in range(1, n + 1):
    print('* ' * i)

# Loop for the decreasing part
for i in range(n - 1, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### Question3

In [18]:
n = 3

# Loop for each row
for i in range(n):
    # Print leading spaces
    print(' ' * (n - i - 1), end='')
    # Print asterisks
    print('* ' * (2 * i + 1))

  *
 * * *
* * * * *

#### Question 4

In [22]:
n= 5 
for i in range(1, n+1):
    for j in range(i, 0,-1):
        print(j ,end=' ')

    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

#### Question5

In [23]:
def calculate_series(x ,n):
    total_sum = 1
    for i in range(2, n+1 ):
        total_sum += (x**i)/i 

    return total_sum

x = float(input('Enter the value of x:'))
n = int(input('Enter the value of n: '))

result = calculate_series( x ,n)

print('sum of series is : ', result)

Enter the value of x: 4
Enter the value of n:  5

sum of series is :  299.1333333333333

#### Question 6

In [28]:
def ln_clever(x, terms=20):
    if x <= 0:
        raise ValueError("ln(x) is undefined for x <= 0")
    z = (x - 1) / (x + 1)
    result = 0
    for n in range(terms):
        term = (z ** (2 * n + 1)) / (2 * n + 1)
        result += term
    return 2 * result

# Example usage
x = 7
print(f"Approximation of ln({x}) ≈ {ln_clever(x)}")

Approximation of ln(7) ≈ 1.9459093534137661

#### Question 7

In [30]:
def calculate_series_sum(n):
    total_sum = 0
    series_terms = []  # To store the terms of the series for display

    for i in range(1, n + 1):
        term = int('2' * i)  
        series_terms.append(str(term)) 
        total_sum += term 

    return total_sum, series_terms


n = int(input("Enter the value of n: "))


result_sum, terms = calculate_series_sum(n)


series_output = '+'.join(terms)
print(f"{series_output}")
print(f"Sum of above series is: {result_sum}")

Enter the value of n:  5

2+22+222+2222+22222
Sum of above series is: 24690

#### Question8

#### Question 9

In [32]:
decimal_number = int(input("Enter a decimal number: "))
binary_number = ""


if decimal_number == 0:
    binary_number = "0"
else:
    while decimal_number > 0:
        remainder = decimal_number % 2  
        binary_number = str(remainder) + binary_number  
        decimal_number = decimal_number // 2  

print(f"The binary equivalent is: {binary_number}")

Enter a decimal number:  5

The binary equivalent is: 101

#### Question 10

In [ ]:
def calculate_hcf(a, b):
    while b:
        a, b = b, a % b
    return a


def calculate_lcm(a, b, hcf):
    return (a * b) // hcf

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))


hcf = calculate_hcf(num1, num2)


lcm = calculate_lcm(num1, num2, hcf)

print(f"HCF of {num1} and {num2} is: {hcf}")
print(f"LCM of {num1} and {num2} is: {lcm}")

#### Question 11

In [37]:
input_String = input('Enter the string :')
words = input_String.split()
print (words)
short_form = ''.join(word[0].upper() for word in words)
print(short_form)

Enter the string :  data science mentorship program

['data', 'science', 'mentorship', 'program']
DSMP

#### Question12

In [39]:
first_string = input("Enter the first string: ")
second_string = input("Enter the second string: ")
midpoint = len(first_string) // 2
new_string = first_string[:midpoint] + second_string + first_string[midpoint:]
print(new_string)

Enter the first string:  campusx
Enter the second string:  data

camdatapusx

#### Question13

In [41]:
input_string = input("Enter a string: ")
lowercase_letters = []
uppercase_letters = []

for char in input_string:
    if char.islower():
        lowercase_letters.append(char) 
    elif char.isupper():
        uppercase_letters.append(char)
result_string = ''.join(lowercase_letters) + ''.join(uppercase_letters)

print(result_string)

Enter a string:  aNuRaGsInGh

auasnhNRGIG

#### Question14

In [42]:
input_string = input("Enter an alphanumeric string: ")
digit_sum = 0
digit_count = 0


for char in input_string:
    if char.isdigit():  
        digit_sum += int(char)  
        digit_count += 1  

average = digit_sum / digit_count if digit_count > 0 else 0

print(f"Sum: {digit_sum}")
print(f"Avg: {average:.2f}")

Enter an alphanumeric string:  hel123O4every093

Sum: 22
Avg: 3.14

#### Question15

In [43]:
str1 = 'I am 25 years and 10 months old'


result = ''


for char in str1:
    if char.isdigit(): 
        result += char

# Print the output
print(result)

2510

#### Question16

In [44]:
def is_symmetrical(string):
    n = len(string)
    mid = n // 2

    
    if n % 2 != 0:
        first_half = string[:mid]
        second_half = string[mid + 1:]
    else:
        first_half = string[:mid]
        second_half = string[mid:]

    
    if first_half == second_half:
        return "The entered string is symmetrical."
    else:
        return "The entered string is not symmetrical."

input_string = "khokho"
output = is_symmetrical(input_string)
print(output)

The entered string is symmetrical.

#### Question17

In [47]:
def reverse_words(input_string):
    words = input_string.split()
    reversed_words = words[::-1]
    result = ' '.join(reversed_words)
    return result



input_string = "my name is laxmi"
output = reverse_words(input_string)
print(output)

laxmi is name my

#### Question18

In [48]:
def uncommon_words(A, B):
    words_A = A.split()
    words_B = B.split()
    word_count = {}
    for word in words_A:
        word_count[word] = word_count.get(word, 0) + 1
    

    for word in words_B:
        word_count[word] = word_count.get(word, 0) + 1
    
    
    uncommon = [word for word in word_count if word_count[word] == 1]
    
    return uncommon


A = "apple banana mango"
B = "banana fruits mango"
output = uncommon_words(A, B)
print(output)

['apple', 'fruits']

#### Question19

In [49]:
def find_word_location(sentence, word):
    words = sentence.split()
    position = 0
    for current_word in words:
        if current_word == word:
            return position 
        position += 1
    
    return -1 


sentence = "We can learn data science through campusx mentorship program."
word = "campusx"
location = find_word_location(sentence, word)

if location != -1:
    print(f"Location of the word is {location}.")
else:
    print("The word is not found in the sentence.")

Location of the word is 6.

#### Question20

In [50]:
def remove_duplicates(input_string):
    seen = set()
    result = []
    for char in input_string:
        if char not in seen:
            seen.add(char)  
            result.append(char) 

    
    return ''.join(result)


user_input = input("Enter a string: ")
output = remove_duplicates(user_input)
print("String after removing duplicates:", output)

Enter a string:  anurag singh is anurag

String after removing duplicates: anurg sih