## TUPLES

### Creating Tuples

In [2]:
# empty
t1 = ()
print(t1)
#create a tuple with a single item 
t2 =('hello' ,) # for single item tuple the last comma is so mandatory
print(type(t2))
#homo 
t3 =(1,2,3,4)
print(t3)
#hetro 
t4 = (1 ,2.5 , True ,[1,2,3,4])
print(t4)
t5 = (1,2,3,(4,5))
print(t5)
#using type conversion
t6 = tuple('hello')

print(t6)

()
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3, 4])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

## Accessing Items

##### Indexing
##### Slicing

In [9]:
t3

(1, 2, 3, 4)

In [13]:
print(t3[0])
print(t3[-1])

1
4

In [17]:
print(t3[0:4])
print(t3[0:4:2])
print(t3[-3:-1])

(1, 2, 3, 4)
(1, 3)
(2, 3)

In [18]:
print(t3[::-1])  # tuple reverse

(4, 3, 2, 1)

In [22]:
t5[-1][0] # accessing 2D tuple

4

## Editing Items

In [25]:
print(t3)
t3[0] =100
## tuples are immutable just like strings  but lists are

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

## Adding Items

In [26]:
print(t3) 
#not possible cause tuple are immutable

(1, 2, 3, 4)

## Deleting Items

In [27]:
print(t3)

(1, 2, 3, 4)

In [29]:
del t3
print(t3) # deleted  the complete tuple but deleting a portion or item is not possible

NameError: name 't3' is not defined

In [30]:
print(t5) 
del(t5[-1])

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

##  operations on tuples

In [3]:
# + and *
t1 =(1,2,3,4)
t2 =(5,6,7,8)
print(t1+t2)
print(t1*3)
# membership
1 in t1 
1 not in t1 

# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

## Tuple functions

In [40]:
## len/sum/min/max/sorted
t =(1,2,3,4)
len(t)
sum(t)
min(t)
max(t)
sorted(t)
sorted(t , reverse=True)#descending order

[4, 3, 2, 1]

In [4]:
# count 
t = (1,2,3,4,5,1,2,3,5,6)
t.count(5)
t.count(-1) # 0
t.index(5)
# t.index(50) # error as 50 does not exist

4

In [49]:
# tuples are faster than lists
import time
L = list(range(100000000))
t = tuple(range(100000000))
start = time.time()
for i in L:
    i*5
print('List time' , time.time()-start)
start = time.time()
for i in t:
    i*5
print('tuple time', time.time()-start)

List time 28.756730318069458
tuple time 16.365929126739502

In [51]:
import sys
L = list(range(1000))
T= tuple(range(1000))
print('List size:',sys.getsizeof(L))
print('Tuple size:',sys.getsizeof(T))

List size: 8056
Tuple size: 8040

In [53]:
# lists me bhut dimaag khrb hota hai debug me 
a= [1,2,3]
b= a 
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [55]:
a = (1,2,3,4)
b= a 
a = a+(5,)
print(a) # a changed b remain same
print(b)

(1, 2, 3, 4, 5)
(1, 2, 3, 4)

In [57]:
# tuple unpacking 
a,b,c =(1,2,3)
print(a,b,c)

1 2 3

In [58]:
a,b =(1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [5]:
# swap values without using any third variable 
a= 1 
b= 2 
a,b = b,a
print(a,b)

2 1

In [60]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [9]:
# zipping tuples
a =(1,2,3,4)
b =(5,6,7,8)
zip(a,b)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

## SETS

## Creating Sets

In [78]:
# empty 
# s=  {}
# print(s)
# print(type(s)) # will give dictionary
s= set()
print(s)
print(type(s))
# 1D and 2D
s1 ={1,2,3}
print(s1)
#s2 ={1,2,3,{4,5,6}} #will give error because can't have mutable data type inside a set and set itself is mutable
#print(s2)
# homo and hetro
s3= {1,2.5 ,True,'hello',(1,2,3)} #{1, 2.5, 'hello', (1, 2, 3)} because true as 1 and set must have unique items
print(s3)
# using type conversion
s4 = set([1,2,4])
print(s4)
# duplicates not allowed
s5 ={1,2,3,4,2,1,3}
print(s5)
# set can't have mutable items 
s6 = {1,2,3,[4,5,6]}
print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, 2.5, 'hello', (1, 2, 3)}
{1, 2, 4}
{1, 2, 3, 4}

TypeError: unhashable type: 'list'

In [80]:
s1 = {1,2,3}
s2 ={3,2,1}
print(s1 == s2) #because order does not matter

True

## Accessing Items

In [82]:
s1 = {1,2,3,4}
s1[-1]  # error because set is unordered so indexing not allowed 
s1[-1 :-3]  # error because set is unordered so indexing not allowed

TypeError: 'set' object is not subscriptable

## Editing Items

In [83]:
s1 ={1,2,3,4}
s1[0] =100 # error

TypeError: 'set' object does not support item assignment

## Adding Items

In [10]:
s1 ={1,2,3,4} 
# add
s1.add(5)
print(s1) 
#update=--> add multiple items
s1.update([6,7,8])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

## Deleting Items

In [16]:
# del 
s ={1,2,3,4,5}
print(s)
#del s 
#print(s)

# discard
#s.discard(5)
# s.discard(50) # will not give any error if item do not exists

# remove
#s.remove(5)

# pop
#s.pop()

#s.clear()

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

## Set Operation

In [26]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# s1 | s2
# Union(|)
# Intersection(&)
# s1 & s2
# Difference(-)
#s1 - s2
#s2 - s1
# Symmetric Difference(^)
#s1 ^ s2
# Membership Test
#1 not in s1
# Iteration
for i in s1:
  print(i)

1
2
3
4
5

## Set Functions

In [97]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [99]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [28]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [29]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [102]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [103]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [104]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [105]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

## Frozen set

In [1]:
# immutable version of python set object

In [2]:
#create frozenset

In [4]:
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [5]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [30]:
# what works and what does not 
#works -> all read functions
# doesn't works --> write operations

In [8]:
# 2D sets
fs =frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

## Set Comprehension

In [13]:
#example 
{i*i for i in range(1,11) if i%2==0}

{4, 16, 36, 64, 100}

##  Dictionary

In [31]:
#empty dictionary
d ={}

#1D dictioary 
d1 = {'name' :'anurag' , 'gender':'male'}
print(d1)
#with mixed keys
d2 = {(1,2,3):1 , 'hello':'world'}
d2
#2D dictionary 
s ={
    'name':'nitish',
    'college':'juet',
    'sem':4,
    'subjects': {
            'dsa' :50,
            'maths':67,
            'english':34
    }
}
print(s)

#using sequence and dict function 
d4 = dict([('name','anurag'),(2,2),(3 ,3)])
d4

#duplicate keys
d5 = {'name':'anurag','name':'singh'}
print(d5)
#mutable items as keys 
d6 = {'name':'nitish',[1,2,3]:2}
print(d6)

{'name': 'anurag', 'gender': 'male'}
{'name': 'nitish', 'college': 'juet', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
{'name': 'singh'}

TypeError: unhashable type: 'list'

## Accessing Items

In [23]:
my_dict ={'name':'anurag' ,'age':23}
#[] 
my_dict['name']
my_dict['age']
# get
my_dict.get('name')
my_dict.get('age')
# working on 2d to get the items 
s['subjects']['dsa']

50

## Adding New Key Value Pair

In [8]:
d4

{'name': 'anurag', 2: 2, 3: 3}

In [27]:
d4['gender'] = 'male'
d4
d4['weight'] =90
d4
# adding new key value pair in 2d 
s
s['subjects']['data science'] = 75
s

{'name': 'nitish',
 'college': 'juet',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'data science': 75}}

## Remove Key Value Pair

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
#d.pop(3)
#print(d)
 # popitem
#d.popitem()
#d.popitem()

#print(d)
# d.popitem()
# print(d)
# del
# del d['name']
# print(d)
# clear
d.clear()
print(d)
# removing from 2d 
s
del s['subjects']['data science']
print(s)

# Editing Key Value Pair

In [32]:
s

{'name': 'nitish', 'college': 'juet', 'sem': 4, 'subjects': {'english': 34}}

In [39]:
s['sem'] =5 
s['subjects']['dsa'] = 89
print(s)

{'name': 'nitish', 'college': 'juet', 'sem': 5, 'subjects': {'english': 34, 'data science': 75, 'dsa': 89, 'maths': 75}}

## Dictionary Operations

##### Membership 
##### Iterations

In [40]:
print(s)
'name' in s

{'name': 'nitish', 'college': 'juet', 'sem': 5, 'subjects': {'english': 34, 'data science': 75, 'dsa': 89, 'maths': 75}}

True

In [42]:
d = {'name' :'anurag' , 'gender':'male' , 'age' : 19}
for i in d:
    print(i ,  d[i])

name anurag
gender male
age 19

## Dictionary Functions

In [43]:
#len/sorted

len(d)
print(d)
sorted(d, reverse = True)

{'name': 'anurag', 'gender': 'male', 'age': 19}

['name', 'gender', 'age']

In [44]:
# items/keys/values
print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'anurag', 'gender': 'male', 'age': 19}
dict_items([('name', 'anurag'), ('gender', 'male'), ('age', 19)])
dict_keys(['name', 'gender', 'age'])
dict_values(['anurag', 'male', 19])

In [46]:
# update
d1 ={1:2 ,3:4 ,4:5}
d2 ={4:7, 6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

# dictionary comprehension

In [47]:
#print 1st 10 numbers and their squares 
{ i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [50]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
distances.items()
{key  : value *0.6 for (key, value) in distances.items() }

{'delhi': 600.0, 'mumbai': 1200.0, 'bangalore': 1800.0}

In [53]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]  
{key :value for (key , value) in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [54]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [55]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}