# Python Output

In [2]:
#python is a case sensitive language
print("hello Duniya")

hello Duniya

In [3]:
print("Anurag Singh")

Anurag Singh

In [4]:
print(7)

7

In [5]:
print(9.0)

9.0

In [7]:
print(True)

True

In [9]:
print('Hello ', 1, 4.5 , True)

Hello  1 4.5 True

In [10]:
print('Hello ', 1, 4.5 , True , sep ='/' )

Hello /1/4.5/True

In [11]:
print("hello")
print("world")

hello
world

In [14]:
print('hello' , end ='-')
print("world")

hello-world

# Data Types

In [18]:
# Integer 
print(8)
print(1e308)
print(1e309) # 1*10^309

8
1e+308
inf

In [20]:
#decimal or float 
print(8.55)
print(1.7e309) #infinite , python support up to 1.7e308

8.55
inf

In [21]:
#Boolean
print(True)
print(False)

True
False

In [23]:
#Text / String
print('Hello World')

Hello World

In [24]:
#complex
print(5+6j)

(5+6j)

In [25]:
#list /kind of array 
print([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [26]:
#Tuple
print((1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)

In [27]:
#sets 
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [28]:
#dictionary
#key value pairs 
print({'name' :'Anurag' ,'gender':'male' , 'weight':70})

{'name': 'Anurag', 'gender': 'male', 'weight': 70}

In [29]:
#type function 
type(3)

int

In [30]:
type(1.2)

float

In [31]:
type('anurag')

str

In [32]:
type([1,2,3,4])

list

In [33]:
type(3+6j)

complex

 # 3.Variables

In [35]:
#static vs dynamic typing 
#static vs Dynamic Binding
#stylish declaration techniques

In [36]:
name ='anurag' 
print(name)

a = 5 
b =6 

print(a+b)

anurag
11

In [38]:
#Dynamic Typing 
# int a = 5 ; //static typing 
a = 5 #Dynamic typing

In [39]:
#Dynamic Binding 
a= 5 
print(a)
a = 'anurag'
print(a)


#static Binding
int a =5

5
anurag

In [40]:
a = 1 
b= 2
c= 3 
print(a, b, c)

1 2 3

In [41]:
a,b,c = 1,2,3 
print(a,b,c)

1 2 3

In [42]:
a=  b=c = 5
print(a,b,c)

5 5 5

# Comments

In [43]:
#this is a comment 
a=  4 
b = 6 #like this
#second comment 
print(a+b)

10

# keywords and identifiers

In [2]:
# Keywords

In [3]:
#Indentifiers 
#you can not start with a digit 
# 1name --> wrong
name1= "anurag"
print(name1)
#you can use special characters 
first_name = 'anurag' 
print(first_name)
#first-name -->error 
_ = 'anurag' # it is allowed 
print(_)

#identifiers can not be keyword (reserved keywords)

anurag
anurag
anurag

# User Input

In [4]:
#static VS Dynamic softwares 
# static -- calender , blogging site (which gives only info )
# dynamic -- youtube(have to search) ola (have to book ride)

In [7]:
input('Enter your name' )

Enter your name anurag

'anurag'

In [11]:
#take input from users and store them in a variable
fnum = input("Enter the first number")
snum = input("Enter second number") 
print(type(fnum) , type(snum))
#add the 2 variables 
result = fnum + snum;
#print the result
print(result)

Enter the first number 21
Enter second number 21

<class 'str'> <class 'str'>
2121

# type conversion

In [16]:
#implicit vs explicit 
# implicit --> interpreter do on his own
print(5+5.6)
print(type(5) , type(5.6)) #both are of diff data type but it gives result in place of error

# print(4 + '4') here it give error 
# explicit --> human has to convert it from one to another

#str --> integer 

int('4')
type(int('4'))
# int(4+5j) here it gives error

10.6
<class 'int'> <class 'float'>

int

In [19]:
#int to string
type(str(4))
#float
float(4)

4.0

In [22]:
#take input from users and store them in a variable
fnum = input("Enter the first number")
snum = input("Enter second number") 

#add the 2 variables 
result = int(fnum) + int(snum); #type conversion
#print the result
print(result)
print(type(fnum)) #string

Enter the first number 12
Enter second number 12

24
<class 'str'>

In [23]:
# type conversion in python does not changes the real value , it creates a new value

# literals

In [24]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [25]:
x = 3+12j 
print(x.imag , x.real)

12.0 3.0

# strings in python

In [26]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [27]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [30]:
a = None 
print(a)

None

In [28]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# Operators

In [29]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership

In [31]:
# session-1-tasks

In [40]:
# Ques1

In [41]:
print("Data" ,"Science" , "Mentorship" , "Program"  ,"Started" ,"by" ,"campusX" , sep='-')

Data-Science-Mentorship-Program-Started-by-campusX

In [48]:
# ques 2

In [49]:
celcius = 33
fahrenheit = (celcius * 9/5) + 32
print(fahrenheit)

91.4

In [54]:
# Ques 3

In [55]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c = None
c =a
a= b
b = c
print("value of a  is :" ,  a)
print("value of b is :" ,b)

Enter the first number 121
Enter the second number 21

value of a  is : 21
value of b is : 121

In [56]:
# Ques 4

In [57]:
a1 = int(input("Enter the first coordinate of point x"))
b1 = int(input("Enter the second coordinate of point x"))
a2 = int(input("Enter the first coordinate of point x"))
b2 = int(input("Enter the second coordinate of point y"))
d = ((a2-a1)**2 + (b2 - b1)**2)**0.5 
print(" euclidean distance :" ,d)

Enter the first coordinate of point x 2
Enter the second coordinate of point x 4
Enter the first coordinate of point x 3
Enter the second coordinate of point y 7

 euclidean distance : 3.1622776601683795

In [60]:
P = int(input("Enter the value of principal amount"))
R= int(input("Enter the second interest Rate "))
T = int(input("Enter the time period"))
interest = (P*R*T)/100
print( interest)

Enter the value of principal amount 100
Enter the second interest Rate  21
Enter the time period 21

441.0

In [61]:
#Ques 6 
# Input the number of heads and legs
heads = int(input("Enter the number of heads: "))
legs = int(input("Enter the number of legs: "))

# Calculate the number of dogs and chickens
dogs = (legs - 2 * heads) / 2
chickens = heads - dogs

# Check if the solution is valid
if dogs.is_integer() and chickens.is_integer() and dogs >= 0 and chickens >= 0:
    print(f"Dogs: {int(dogs)}, Chickens: {int(chickens)}")
else:
    print("No solution")

Enter the number of heads:  4
Enter the number of legs:  12

Dogs: 2, Chickens: 2

In [62]:
#Ques 7

In [63]:
n = int(input("Enter the value of n: "))

sum_of_squares = (n * (n + 1) * (2 * n + 1)) // 6

print("The sum of squares of the first {n} natural numbers is:" ,  sum_of_squares)

Enter the value of n:  21

The sum of squares of the first {n} natural numbers is: 3311

In [64]:
# Ques 8

In [65]:
# Input the first and second terms, and the position of the term N
T1 = int(input("Enter the first term (T1): "))
T2 = int(input("Enter the second term (T2): "))
N = int(input("Enter the position N of the term you want to find: "))

# Step 1: Calculate the common difference
d = T2 - T1

# Step 2: Calculate the N-th term
T_N = T1 + (N - 1) * d

# Output the N-th term
print("The {N}-th term of the Arithmetic Series is:" , T_N)

Enter the first term (T1):  1
Enter the second term (T2):  4
Enter the position N of the term you want to find:  5

The {N}-th term of the Arithmetic Series is: 13

In [ ]:
#Ques 9

In [67]:
import math

# Input the numerators and denominators of the two fractions
numerator1 = int(input("Enter the numerator of the first fraction: "))
denominator1 = int(input("Enter the denominator of the first fraction: "))
numerator2 = int(input("Enter the numerator of the second fraction: "))
denominator2 = int(input("Enter the denominator of the second fraction: "))

# Step 1: Find the sum of the two fractions
numerator_sum = (numerator1 * denominator2) + (numerator2 * denominator1)
denominator_sum = denominator1 * denominator2

# Step 2: Simplify the resulting fraction by finding the GCD
gcd = math.gcd(numerator_sum, denominator_sum)

# Step 3: Simplify the fraction
numerator_sum //= gcd
denominator_sum //= gcd

# Output the result
print(f"The sum of the fractions is: {numerator_sum}/{denominator_sum}")

Enter the numerator of the first fraction:  1
Enter the denominator of the first fraction:  2
Enter the numerator of the second fraction:  1
Enter the denominator of the second fraction:  3

The sum of the fractions is: 5/6

In [68]:
#Ques 10

In [69]:
import math

# Input dimensions of the milk tank
H = float(input("Enter the height of the milk tank in cm: "))
L = float(input("Enter the length of the milk tank in cm: "))
B = float(input("Enter the breadth of the milk tank in cm: "))

# Input dimensions of the glass
h = float(input("Enter the height of the glass in cm: "))
r = float(input("Enter the radius of the glass in cm: "))

# Step 1: Calculate the volume of the milk tank
V_tank = H * L * B

# Step 2: Calculate the volume of one glass (cylindrical shape)
V_glass = math.pi * (r**2) * h

# Step 3: Calculate the number of glasses
num_glasses = V_tank / V_glass

# Output the result
print(f"Number of glasses of milk that can be obtained: {int(num_glasses)}")

Enter the height of the milk tank in cm:  20
Enter the length of the milk tank in cm:  20
Enter the breadth of the milk tank in cm:  20
Enter the height of the glass in cm:  3
Enter the radius of the glass in cm:  1

Number of glasses of milk that can be obtained: 848